@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width : 10px;
}

::-webkit-scrollbar-track {
  background : #112240;
}

::-webkit-scrollbar-thumb {
  background: #64ffda;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8892b0;
}